body {
    font-size: .78rem;
    background-color: rgb(48, 45, 45);


}

main {
    /* height: 100vh; */
    min-height: 150vh;
    min-width: 180vh;
    background-color: #161414;
}

main.container {

    border-color: #161414;
}


nav a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(14, 7, 1);
    text-decoration-style: double;
}


.relogio-rodape {
    border: 1px inset darkgray;
}

div.card1 {
    text-align: center;
    margin-top: 0%;
    margin: -7px;
    border: 2px solid rgb(43, 41, 41);
    background-color: #fff;
    border-radius: 20px;
    text-size-adjust: auto;
    font-family: Arial, Helvetica, sans-serif;
}

div.card2 {
    text-align: center;
    margin-top: 0%;
    margin-left: -39%;
    border: 2px solid rgb(43, 41, 41);
    background-color: #fff;
    float: left;
    border-radius: 20px;
    text-size-adjust: auto;
    font-family: Arial, Helvetica, sans-serif;

}

div.card3 {
    text-align: center;
    margin-top: 0%;
    margin-left: -68%;
    border: 2px solid rgb(43, 41, 41);
    background-color: #fff;
    border-radius: 20px;
    text-size-adjust: auto;
    font-family: Arial, Helvetica, sans-serif;

}



div.textlogo {

    color: #fff;
    font-size: 15px;
    font-weight: 700;
    padding: 5px;
    display: inline-block;
    text-align: center;

}